body{
  margin: 0px;
  padding: 0px;

}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
h3{
  color: white;
}
#header{
  background-color: hsl(44, 92%, 52%);
  color: white;
  box-shadow: 5px 3px 15px -5px rgb(0,0,0,0);
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 50px;
  width: 100%;
 

}
footer{
  background-color:orange;

  color: white;
  box-shadow: 5px 3px 15px -5px rgb(0,0,0,0);


width: 100%;
position: absolute;
bottom: 0;
padding-left: 50px;
height: 30px;


}
.main_note{
  
  
width: 500px;
height: 20px;
  border: none;
  outline: none;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;

  display: block;


 

}

form{
 

  color: white;
  background-color: white;
  padding: 15px 10px 5px 10px;
  border-radius: 10px;
  box-shadow: 8px 7px 3px 7px lightgray;
  border:3px solid white;

}

input{
  
  width: 100%;
  line-height:30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: bold;

}
textarea{
  width: 100%;
  line-height: 0.5rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.3rem;
  margin: 0;
  font-weight: bold;
  padding: 10px;
 

}
.main-btn{
  width: 50px;
  height: 30px;
  border-radius: 50%;
  background-color: #f5ba13;
  color: white;
position: relative;
left: 450px;
top: -20px;
font-size: 25px;

}
.note{
  width: 200px;
  height: 100px;

  color: black;
  background-color: white;
  padding: 15px 10px 5px 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 2px 5px lightgray;
  border:3px solid white;
  position: relative;
  top: 200px;


float: left;

margin: 20px;


}
